<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085221770368-0e3kpqmijv348dt6ibssm20bvggd4bgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085221770368-0e3kpqmijv348dt6ibssm20bvggd4bgf</string>
	<key>API_KEY</key>
	<string>AIzaSyAwlrbmG4NF0MO0eJQXU_LDFzDOZ3Qb_uE</string>
	<key>GCM_SENDER_ID</key>
	<string>1085221770368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.min.AlbumProject</string>
	<key>PROJECT_ID</key>
	<string>miniproject-4aa5b</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-4aa5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085221770368:ios:570cf9ea9bba4c8ffb0265</string>
	<key>DATABASE_URL</key>
	<string>https://miniproject-4aa5b.firebaseio.com</string>
</dict>
</plist>